<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">
	<select id="readLoginInfo" parameterType="String" resultType="com.sp.admin.Admin">
		select adminIdx,adminId,adminPwd,adminName,idnCode,departCode from admin where adminId=#{adminId}
	</select>
	
	<select id="findSeq" resultType="Integer">
		SELECT NVL(COUNT(*),0) FROM admin
	</select>
	
	<select id="findBebun" parameterType="Integer" resultType="String">
		SELECT TO_CHAR(adminBirth, 'YYYY-MM-DD') adminBirth FROM admin WHERE adminIdx=#{adminIdx}
	</select>
	
	<insert id="insertAdmin" parameterType="com.sp.admin.Admin">
		INSERT INTO admin (adminIdx, adminId, adminPwd, adminBirth, adminName, tel, email, idnCode, positionCode, departCode, saveFilename)
    		VALUES (adminIdx_seq.NEXTVAL, #{adminId}, #{adminPwd}, #{adminBirth},  #{adminName}, #{tel}, #{email}, #{idnCode}, #{positionCode}, #{departCode}, #{saveFilename})
	</insert>
	
	
	<sql id="w-list">
		<choose>
		<when test="condition=='departCode'">
			d.departName=#{word}
		</when>
		<when test="condition=='positionCode'">
			p.positionName=#{word}
		</when>
		<when test="condition=='idnCode'">
			i.identName=#{word}
		</when>
		<when test="condition=='adminName'">
			a.adminName=#{word}
		</when>
	</choose>
	</sql>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*),0) from admin a
  			JOIN identifierCode i ON a.idnCode = i.identcode 
  			JOIN position p ON a.positionCode = p.positionCode
  			JOIN department d ON a.departCode = d.departCode 
		<where>
			<if test="word != null and word != ''">
			<include refid="w-list"/>
			</if>
		</where>
	</select>
	
	<select id="listAdmin" parameterType="map" resultType="com.sp.admin.Admin">
		SELECT * FROM (
		SELECT ROWNUM rnum, tb. * FROM (
        SELECT adminIdx, adminId, adminName, adminBirth, departName, positionName, a.positionCode, identName from admin a
          JOIN identifierCode i ON a.idnCode = i.identCode 
          JOIN position p ON a.positionCode = p.positionCode
          JOIN department d ON a.departCode = d.departCode
		<where>
			<if test="word != null and word != ''">
			<include refid="w-list"/>
			</if>
		</where>
		ORDER BY AdminIdx DESC
	<![CDATA[
	        ) tb WHERE ROWNUM <= #{end}
	    ) WHERE rnum >= #{start}
	]]>
	</select>
	
	<select id="articleAdmin" parameterType="Integer" resultType="com.sp.admin.Admin">
		SELECT adminIdx, adminId, adminPwd, adminName, TO_CHAR(adminBirth, 'YYYY-MM-DD') adminBirth, postCode, address1, address2, etc, tel, email, 
        TO_CHAR(created, 'YYYY-MM-DD') created, adminModify_date, extNum, a.idnCode, a.positionCode, a.departCode, departName, positionName, identName, saveFilename
    		FROM admin  a
          JOIN identifierCode i ON a.idnCode = i.identCode 
          JOIN position p ON a.positionCode = p.positionCode
          JOIN department d ON a.departCode = d.departCode
          WHERE adminIdx = #{adminIdx}
	</select>
	
	<update id="updateAdmin" parameterType="com.sp.admin.Admin">
		UPDATE admin SET adminName=#{adminName}, adminBirth=#{adminBirth}, email=#{email}, tel=#{tel}, idnCode=#{idnCode}, positionCode=#{positionCode}, departCode=#{departCode}, saveFilename=#{saveFilename, jdbcType=VARCHAR}
    		WHERE adminIdx=#{adminIdx}
	</update>
	
	<update id="MyupdateAdmin" parameterType="com.sp.admin.Admin">
		UPDATE admin SET adminPwd=${adminPwd}, adminName=#{adminName}, adminBirth=#{adminBirth}, email=#{email}, tel=#{tel}, extNum=#{extNum}, postCode=${postCode}, address1=#{address1}, address2=#{address2}, etc=#{etc}, saveFilename=#{saveFilename, jdbcType=VARCHAR}
    		WHERE adminIdx=#{adminIdx}
	</update>
</mapper>