<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="attendance">
	<insert id="insertAtt">
		INSERT INTO attendance(attendanceCode, adminIdx, startTime, endTime, created, dayTotal)
			VALUES(attendance_seq.NEXTVAL, #{adminIdx}, #{startTime}, #{endTime}, #{created}, #{dayTotal})
	</insert>
</mapper>