<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="room">

	<select id="seq" resultType="Integer">
		SELECT ROOMINFO_SEQ.NEXTVAL FROM dual
	</select>
	
	<insert id="insertRoom" parameterType="com.sp.hotel.Room">
		INSERT INTO RoomInfo(ROOMCODE, hotelcode, ROOMTYPECODE, ROOMNUM, HCOUNT, price, information, notice, CANCEL_NOTICE)
			VALUES(#{roomCode}, #{hotelCode}, #{roomtypeCode}, #{roomNum}, #{hCount}, #{price},
						#{information, jdbcType=VARCHAR},#{notice, jdbcType=VARCHAR}, #{cancel_notice, jdbcType=VARCHAR})
	</insert>
	
	<insert id="insertFile" parameterType="com.sp.hotel.Room">
		INSERT INTO roomfile(fileCode, roomCode, saveFilename, originalFilename)
			VALUES(ROOMFILE_SEQ.NEXTVAL, #{roomCode}, #{saveFilename}, #{originalFilename})
	</insert>
	
	<select id="listRoom" parameterType="map" resultType="com.sp.hotel.Room">
   		SELECT roomName,roomCode, roomNum, hCount, price
   		FROM roomInfo r
   		JOIN ROOMTYPE t ON r.roomtypecode=t.roomtypecode
   		ORDER BY roomnum ASC
	</select>
	
	<select id="readRoom" parameterType="Integer" resultType="com.sp.hotel.Room">
		SELECT ROOMCODE, hotelcode, ROOMTYPECODE, ROOMNUM, HCOUNT, price, information, notice, CANCEL_NOTICE
		FROM roomInfo
		WHERE roomCode=#{roomCode}
	</select>
	
	<select id="listFile" parameterType="Integer" resultType="com.sp.hotel.Room">
		SELECT fileCode, roomCode, saveFilename, originalFilename
		from roomfile
		where roomCode=#{roomCode}
	</select>
	
	<update id="updateRoom" parameterType="com.sp.hotel.Room">
		UPDATE roomInfo
		SET roomCode=#{roomCode}, hotelCode=#{hotelCode}, roomtypeCode=#{roomtypeCode}, roomNum=#{roomNum}, hCount=#{hCount}, price=#{price},
			information=#{information, jdbcType=VARCHAR},notice=#{notice, jdbcType=VARCHAR}, cancel_notice=#{cancel_notice, jdbcType=VARCHAR}
		WHERE roomCode=#{roomCode}
	</update>
</mapper>