<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ticket">

	<select id="seq" resultType="Integer">
		SELECT TICKET_SEQ.NEXTVAL FROM dual
	</select>

	
	<insert id="insertTicket" parameterType="com.sp.store.Ticket">
		INSERT INTO store(ticketCode, storeCode, ticketName, adminIdx, ticket_info, sales_start, sales_end, use_start, use_end)
			VALUES(#{ticketCode}, #{storeCode}, #{ticketName}, #{adminIdx},  #{ticket_info, jdbcType=VARCHAR}, #{sales_start}, #{sales_end},
						#{use_start}, #{use_end})
	</insert>
	
	<insert id="insertFile" parameterType="com.sp.store.Ticket">
		INSERT INTO ticketfile(fileCode, ticketCode, saveFilename, originalFilename)
			VALUES(TICKETFILE_SEQ.NEXTVAL, #{ticketCode}, #{saveFilename}, #{originalFilename})
	</insert>
</mapper>