<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ticket">

	<select id="seq" resultType="Integer">
		SELECT TICKET_SEQ.NEXTVAL FROM dual
	</select>

	
	<insert id="insertTicket" parameterType="com.sp.store.Ticket">
		INSERT INTO ticket(ticketCode, storeCode, ticketName, adminIdx, ticket_info, sales_start, sales_end, use_start, use_end)
			VALUES(#{ticketCode}, #{storeCode}, #{ticketName}, #{adminIdx},  #{ticket_info, jdbcType=VARCHAR}, #{sales_start}, #{sales_end}, #{use_start}, #{use_end})
	</insert>
	
	<insert id="insertFile" parameterType="com.sp.store.Ticket">
		INSERT INTO ticketfile(fileCode, ticketCode, saveFilename, originalFilename)
			VALUES(TICKETFILE_SEQ.NEXTVAL, #{ticketCode}, #{saveFilename}, #{originalFilename})
	</insert>
	
	<select id="ticketCount" parameterType="Integer" resultType="Integer">
		SELECT NVL(count(*),0)
		FROM ticket
		WHERE storeCode=#{storeCode}
	</select>
	
	<select id="listTicket" parameterType="map" resultType="com.sp.store.Ticket">
		SELECT * FROM (
    		SELECT ROWNUM rnum, tb.* FROM (
        		SELECT t.storeCode, ticketCode, ticketName, TO_CHAR(sales_start, 'YYYY-MM-DD') sales_start, TO_CHAR(sales_end, 'YYYY-MM-DD') sales_end
        		FROM ticket t
        		JOIN store s ON t.storeCode = s.storeCode
        		where t.storeCode=#{storeCode}
        		ORDER BY ticketCode DESC
     <![CDATA[
    		)tb WHERE rownum <= #{end}
		) where rnum >= #{start}
	]]>
	</select>
	
	<select id="readTicket" parameterType="Integer" resultType="com.sp.store.Ticket">
		SELECT ticketCode, storeCode, ticketName, adminIdx, ticket_info, TO_CHAR(sales_start, 'YYYY-MM-DD') sales_start, TO_CHAR(sales_end, 'YYYY-MM-DD') sales_end, TO_CHAR(use_start, 'YYYY-MM-DD') use_start, TO_CHAR(use_end, 'YYYY-MM-DD') use_end
		FROM ticket
		WHERE ticketCode=#{ticketCode}
	</select>
	
	<select id="listFile" parameterType="Integer" resultType="com.sp.store.Ticket">
		SELECT fileCode, ticketCode, saveFilename, originalFilename
		from ticketfile
		where ticketCode=#{ticketCode}
	</select>
	
	<update id="updateTicket" parameterType="com.sp.store.Ticket">
		UPDATE ticket
		SET ticketCode=#{ticketCode}, storeCode=#{storeCode}, ticketName=#{ticketName}, adminIdx=#{adminIdx}, ticket_info=#{ticket_info}, price=#{sales_start},
			sales_end=#{sales_end},use_start=#{use_start}, use_end=#{use_end}
		WHERE ticketCode=#{ticketCode}
	</update>
</mapper>