<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work">
	<sql id="where-list">
		<choose>
			<when test="condition=='departCode'">
				INSTR(d.departName, #{word}) &gt;= 0
			</when>
			<when test="condition=='positionCode'">
				INSTR(p.positionName, #{word}) &gt;= 0
			</when>
			<when test="condition=='adminName'">
				INSTR(a.adminName, #{word}) &gt;= 0
			</when>
			<when test="condition=='subject'">
				INSTR(w.subject, #{word}) &gt;= 0
			</when>
			<when test="condtion=='created'">
				w.created = #{word}
			</when>
		
		</choose>
	</sql>
	
	
	<insert id="insertWork" parameterType="com.sp.work.Work">
		INSERT INTO workdiary (diaryCode, adminIdx, subject, content, memo, dayWork, finishWork)
		VALUES(diaryCode_seq.NEXTVAL, #{adminIdx}, #{subject}, #{content}, #{memo}, #{dayWork}, #{finishWork}) 
	</insert>
	
	<select id="readAdmin" parameterType="Integer" resultType="com.sp.work.Work">
		SELECT adminIdx, adminId, adminName, p.positionName, d.departName FROM admin a 
		JOIN position p ON a.positionCode = p.positionCode
		JOIN department d ON a.departCode = d.departCode WHERE adminIdx =#{adminIdx}
	</select>
	
	<select id="searchWork" parameterType="Integer" resultType="Integer">
		SELECT COUNT(subject) FROM question 
		WHERE TO_CHAR(SYSDATE, 'YYYY-MM-DD') = TO_CHAR(created, 'YYYY-MM-DD') and catcode = #{departCode}
	</select>
	
	<select id="listWork" parameterType="map" resultType="com.sp.work.Work">
		SELECT * FROM (
		SELECT ROWNUM rnum, tb. * FROM (    
		SELECT a.adminName, d.departName, p.positionName, w.subject, TO_CHAR(w.created, 'YYYY-MM-DD hh24:mm') created, w.modifyDate FROM admin a
		    JOIN department d ON a.departCode = d.departCode
		    JOIN position p ON a.positionCode = p.positionCode
		    JOIN workdiary w ON a.adminIdx = w.adminIdx
		    <where>
		        	<if test="condition != null and word != ''">
			     	    <include refid="where-list"/>
			     	</if>
			</where>
				ORDER BY a.adminIdx DESC
			<![CDATA[
			        ) tb WHERE ROWNUM <= #{end}
			    ) WHERE rnum >= #{start}
	]]>
	</select>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*),0) FROM admin a
			JOIN department d ON a.departCode = d.departCode
		    JOIN position p ON a.positionCode = p.positionCode
		    JOIN workdiary w ON a.adminIdx = w.adminIdx
		    
		<where>
			<if test="condition != null and word != ''">
				<include refid="where-list"></include>
			</if>
		</where>
	</select>
</mapper>